* {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;

}

.bigdiv {
  padding: 20px;
}

.header {
  width: 100%;
  border: 5px solid black;
  padding: 10px;
  box-sizing: border-box;
}

.rectangle {
  height: 100px;
  width: 50px;
  padding: 10x;
  margin: 0 50px 0px 10px;
  background-color: purple;
  display: inline-block;
}

.square {
  height: 150px;
  width: 300px;
  background-color: green;
  display: inline-block;
}

.circle {
  height: 150px;
  width: 150px;
  margin: 0px 0px 0px 50px;
  background-color: lightblue;
  display: inline-block;
  border-radius: 50%;
}

.main {
  width: 100%;
  border: 3px dotted black;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
.box {
  width: 100%;
  height: 200px;
  background-color: lemonchiffon;
  box-shadow: 0 25px 30px  black;
}

.footer {
  margin: 0 auto;
  height: 00%;
  width: 50%;
  border: 1px solid #ccc;
  height: 10vh;
  bottom: 0;
  box-shadow: 3px 3px 5px gray;

}

h1 {
  font-size: 40px;
  /* margin: 0 auto; */
  padding: 20px;
  color: navy;
  letter-spacing: 6px;
  text-align: center;
  font-family: 'PT Serif', serif;

}